Source: libnss-docker
Section: admin
Priority: extra
Maintainer: Piotr Roszatycki <dexter@debian.org>
Build-Depends:
  debhelper (>= 9),
  dh-autoreconf
Standards-Version: 3.9.8
Homepage: https://github.com/dex4er/nss-docker
VCS-Git: https://anonscm.debian.org/git/collab-maint/libnss-docker.git
VCS-Browser: https://anonscm.debian.org/git/collab-maint/libnss-docker.git


Package: libnss-docker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: docker.io
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Description: nss module for finding Docker containers
 This package contains a plugin for the Name Service Switch, providing host
 name resolution for Docker containers.
